<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/home.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <h1>
      Pokedex
      <img
        class="pokeball"
        src="https://cdn3.emoji.gg/emojis/pokeball.png"
        width="32px"
        height="32px"
        alt="pokeball"
      />
    </h1>
    <div class="intro">
      <img src="/Pikachu-PNG-Image-File.png" alt="hello" width="400px" />
      <h2 style="color: #FF4949;">
        Welcome to Pokedex!</h2>
        <h2>You can get information about your favorite Pokemon
        here just search the name and give it a go!
      </h2>
    </div>

    <form action="/" method="post">
      <input
        type="text"
        name="pokemonName"
        placeholder="Enter the name of the Pokemon"
      />
      <button type="submit">Search</button>
    </form>

    <div class="random">
      <h3>
        Don't know any pokemon OR can't think of a name, don't worry click below to generate a
        random pokemon 👇
      </h3>
      <a href="pokemon">GET A RANDOM POKEMON</a>
    </div>

    <footer>
      Made with ❤️ By Aryadev!
      <img
        class="logo"
        src="/pokemon-logo-text-png-7.png"
        alt="logo"
        width="100px"
      />
    </footer>
  </body>
</html>
