* {
  margin: 0;
}

body{
    background-color: #EFFFFD;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
  background-color: #ffcd38;
  font-size: xx-large;
  text-align: center;
  padding: 5vh;
}

h2 {
  padding: 3vh;
  font-size: 3rem;
}

form {
  display: flex;
  padding-top: 3.125rem;
  margin: 0 auto 0 auto;
}

input {
  height: 3.125rem;
  width: 40vw;
  margin-right: 0px;
  margin-left: 28.125rem;
  border: 2px solid black;
  border-radius: 5px;

}
input[type="text"]::placeholder {
  text-align: center;
  color: #112b3c;
  font-weight: bold;
}

button {
  border: 1px solid seagreen;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: seagreen;
  font-style: italic;
  padding: .6rem;
  padding-right: .875rem;
  padding-left: .75rem;
  font-size: 1rem;
}

button:hover {
  background-color: seagreen;
  color: white;
  border: 1px solid seagreen;
}

h3{
    margin-bottom: 1.25rem;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #FAC213;
    border-radius: 20px;
    font-weight: 300;
    box-shadow: 10px 21px 17px -8px rgba(0,0,0,0.75);
  }

footer{
    margin-top: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: #1363DF;
    color: azure;
}

.pokeball {
  position: relative;
  top: 7px;
}

.intro {
  text-align: center;
}

.random{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}


@media (max-width:900px) {
  body{
    width:100vw;
  }
  input{
    margin-left:2rem;
    width:60vw;
  }
  form{
    padding-bottom: 3rem;
  }

  h3{
    margin-bottom: 4rem;
  }

  footer{
    margin-top: 12rem;
  }
  
}